h1
{
	text-decoration: underline;
	font-style: italic;
	color: darkred;
	text-align: center;
}

nav
{
	text-align: center;
	background: beige;
}
body
{
	background: #C9DDF2;
}
h2
{
	text-align: center;
	color:#400259;
}
p{
	color:#731A4B;
	font-style: italic;
	font-size: 30px;
}
ol
{
	color:seagreen;
}
.c1
{
	font-size:50px;
	text-align: center;
	text-decoration: overline;

}
.c2
{
	font-size: 50px;
	text-align: center;
	color:darkred;
}
.c3
{
	font-size:30px;
	text-align:left;
	color:darkred;
}