h1
{
	text-decoration: underline;
	font-style: italic;
	color: darkred;
	text-align: center;
}

nav
{
	text-align: center;
}
body
{
	background: grey;
	color:black;
	text-align: center;
}
h2
{
	text-align: left;
	color:darkgreen;
}
